<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MTool_V1.Properties.Settings.ConnectionString" connectionString="Dsn=Excel Files"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>